<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>RPG Helper</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">RPG Helper</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="about">About</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>RPG Helper</h1>
    <p>We built this webapp, we built this webapp on Spring and Shite</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Turns out this could be useful</h3>
            <p>nahhhhhhhhh</p>
        </div>
    </div>
</div>
</body>
</html>