<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>RPG Helper</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">RPG Helper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>RPG Helper</h1>
    <p>Not what you wanted, but good enough to use</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Turns out this could be useful</h3>
            <p>If I wrote it correctly</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" id="test">
            <div class="lead">
                <strong>TEST CHARS:</strong>
                <span th:text="${characterName}"></span>
            </div>
            <div id="contents">
                <ul>
                    <li style="list-style-type:none" v-for="thing in things">
                        <player-card
                                v-bind:thing="thing" v-bind:key="thing.id">
                        </player-card>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script
        src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
</script>
<script type="text/babel">
    // player-card is now a Vue component that generates a 'card' showing a player
    // It can be used
    // declaratively like <player-card v-bind:player="someplayer">
    Vue.component('thing-card', {
        props: ['thing'],
        template: `<div class="card">
                    <div class="card-body">
                        <h6 class="card-title">
                            {{ things.name }}
                        </h6>
                    </div>
                </div>`
    });

    var app = new Vue({
        el: '#test',
        data:{
            things:[
                {
                    id:"1",
                    name: "beep"
                },
                {
                    id:"2",
                    name: "boop"
                }
            ]
        }
    });
</script>
</html>